$color-beige: #ffebb9d6;
$color-beigefull: #ffebb9;
$color-brown: #383838;
$color-grey: #888a91;
$color-white: #fff;

.ProductList {
  &__Wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__Row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    img {
      max-width: 100%;
      aspect-ratio: 1/1;
      width: 17rem;
      height: auto;
      display: block;
    }
  }

  &__Item {
    border: 1px solid $color-brown;
    margin-top: 2rem;
  }
}
