$color-beige: #ffebb9d6;
$color-brown: #383838;
$color-grey: #888a91;
$color-white: #fff;

* {
  font-family: Josefin Sans, sans-serif;
}

.Header {
  background-color: $color-white;
  color: $color-brown;
  padding: 2rem 0rem;

  &__RowWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__Logo {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }

  ul {
    list-style-type: none;
  }

  a {
    color: $color-brown;
    text-decoration: none;
  }

  &__Menu {
    nav {
      display: flex;
      align-items: center;
      margin: 0 2rem;
    }
    a {
      margin: 0 1.5rem;
    }
  }

  &__ColWrap2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__Setting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    svg {
      box-sizing: border-box;
      transition: all 0.3s ease-out;
      font-size: 1.6rem;
      margin: 0 0.4rem;
    }
    svg:hover {
      font-size: 2.5rem;
    }
  }

  nav {
    a {
      box-sizing: border-box;
      transition: all 0.3s ease-out;
    }
  }

  nav {
    a:hover,
    .active {
      background-color: $color-beige;
      padding: 0.4rem 1.5rem;
      border-radius: 2rem;
      font-weight: 700;
    }
  }
}

@media (min-width: 994px) {
  .Header {
    &__Burger {
      display: none;
    }
  }
}

@media (max-width: 994px) {
  .Header {
    &__Menu nav {
      display: none;
    }
    &__Setting {
      display: none;
    }
  }
}
