$color-beige: #ffebb9d6;
$color-brown: #383838;
$color-grey: #888a91;
$color-white: #fff;

* {
  font-family: Josefin Sans, sans-serif;
  color: $color-brown;
}

.NavigationBar {
  padding: 0rem 0rem;
  padding-top: 6rem;
  font-size: 0.8rem;
  font-weight: 700;

  ul {
    list-style-type: none;
  }

  a {
    color: $color-grey;
    text-decoration: none;
  }

  &__Category {
    nav {
      a {
        margin-right: 2.2rem;
        transition: all 0.3s ease-in-out;
      }

      a:hover,
      .active {
        color: black;
      }
    }
  }

  &__RowWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__Filter {
    span {
      display: flex;
      color: $color-grey;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      svg {
        color: $color-grey;
      }
    }

    a {
      transition: all 0.3s ease-in-out;
    }

    a:hover,
    .active {
      color: black;
    }
  }
}
